@import url("./Initial.css");

.Episodios {
  background: var(--gradient);
  height: 1050px;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.Episodios h2 {
  align-self: flex-start;
  margin-left: 200px;
  font-family: var(--font-sans);
  color: white;
  font-size: 50px;
  font-weight: lighter;
}
.Episodios .Episodios_container {
  display: grid;
  width: 87%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 4%;
  place-content: center;
}
.Episodios .Episodios_container iframe {
  width: 100%;
  height: 280px;
}

@media screen and (max-width: 540px) {
  .Episodios {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    padding: 0;
    height: 1224px;
  }
  .Episodios h2 {
    font-size: 36px;
    margin: -100px 0 80px 3%;
  }
  .Episodios .Episodios_container {
    width: 93%;
    grid-template-columns: 1fr;
  }
  .Episodios .Episodios_container iframe {
    margin-bottom: -65px;
    width: 100%;
  }
}

/* Optional */

@media screen and (min-width: 541px) and (max-width: 1000px) {
  .Episodios h2 {
    margin-left: 100px;
  }
}
