@import url("./Initial.css");

.Episodios {
  background: var(--gradient);
  height: 1000px;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.Episodios h2 {
  align-self: flex-start;
  margin-left: 100px;
  font-family: var(--font-sans);
  color: white;
  font-size: 50px;
  font-weight: lighter;
}
.Episodios .Episodios_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  width: 100%;
  justify-items: center;
}
.Episodios .Episodios_container iframe {
  width: 80%;
  height: 280px;
}

@media screen and (max-width: 500px) {
  .Episodios {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    padding: 0;
    height: 1160px;
  }
  .Episodios h2 {
    font-size: 36px;
    margin: 0 0 20px 5%;
  }
  .Episodios .Episodios_container {
    grid-template-columns: 1fr;
  }
  .Episodios .Episodios_container iframe {
    margin-bottom: -40px;
    width: 95%;
  }
}
