@import url("./Initial.css");

.Header {
  display: flex;
  padding: 0 100px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: var(--font-mono);
  height: 80px;
}

.Header img {
  width: 2em;
}
.Header ul {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Header ul li {
  list-style: none;
}
.Header ul li a {
  color: var(--font-color-light);
  text-decoration: none;
}

@media screen and (max-width: 540px) {
  .Header {
    padding: 0 16px;
    height: 50px;
  }
  .Header img {
    width: 24px;
  }
  .Header ul {
    display: none;
  }
}

/* Optional  */
@media screen and (min-width: 541px) and (max-width: 1000px) {
  .Header {
    padding: 0 50px;
  }
}
