@import url("./Initial.css");

.Hero {
  margin: 150px 0 0 200px;
  max-width: 55%;
}
.Hero h1 {
  font-family: var(--font-sans);
  font-size: 64px;
  font-weight: lighter;
  margin: 0;
}
.Hero p {
  max-width: 90%;
  margin-bottom: 56px;
  font-family: var(--font-mono);
  font-weight: lighter;
  line-height: 24px;
}
.Hero .word {
  text-decoration: line-through;
}
.Hero .dot {
  color: #0000ec;
}
.Hero .Hero_button {
  height: 56px;
  width: 225px;
  background: var(--color-button);
  border: none;
  font-family: var(--font-mono);
  font-weight: 700;
}

@media screen and (max-width: 540px) {
  .Hero {
    margin: 0 16px 30px 16px;
    max-width: 100%;
  }
  .Hero h1 {
    font-size: 36px;
  }
  .Hero p {
    max-width: 100%;
    font-size: 14px;
    margin-bottom: 35px;
  }
  .Hero .Hero_button {
    width: 100%;
  }
}
/* Optional */
@media screen and (min-width: 541px) and (max-width: 1000px) {
  .Hero {
    margin: 50px 0 0 100px;
    max-width: 70%;
  }
  .Hero p {
    max-width: 100%;
  }
}
