@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

:root {
  --font-mono: "IBM Plex Mono", monospace;
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-color-light: #060a24;
  --color-button: #00f3bb;
  --gradient: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  --gradient-hover: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

html {
  scroll-behavior: smooth;
}

button {
  transition: 1.5s all linear;
}
button:not(.Header_menu):hover {
  background: var(--gradient-hover);
}

a:hover {
  color: var(--color-button);
  text-decoration: line-through;
}

a:active {
  color: #060a24 56%;
  text-decoration: line-through;
}
