@import url("./Initial.css");

.Legado {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.Legado .Legado_img {
  width: 420px;
  position: absolute;
  top: -150px;
  left: 0px;
}
.Legado .Legado_info {
  width: 46%;
  height: 400px;
}
.Legado .Legado_info h2 {
  font-size: 48px;
  font-family: var(--font-sans);
  font-weight: normal;
  margin-bottom: 10px;
}
.Legado .Legado_info p {
  font-size: 16px;
  font-family: var(--font-mono);
  font-weight: lighter;
  line-height: 24px;
}

@media screen and (max-width: 540px) {
  .Legado {
    width: 92%;
    min-height: 650px;
    max-height: auto;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 180px 0 0px 0;
    margin-bottom: 100px;
  }
  .Legado .Legado_img {
    max-width: 340px;
    max-height: 519px;
    position: absolute;
    top: -60px;
    left: calc(50% - 170px);
  }
  .Legado .Legado_info {
    width: 100%;
    height: auto;
  }
  .Legado .Legado_info h2 {
    font-size: 36px;
  }
  .Legado .Legado_info p {
    font-size: 14px;
  }
}
